/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--main-wght);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.block {
  width: var(--block-width);
  margin: 0 auto;
  background-color: var(--color-shadow);
  border: 2px solid var(--contour-color);
}

.header {
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
  padding-block-start: 130px;
  padding-inline-end: 123px;
  padding-block-end: 130px;
  padding-inline-start: 123px;
  margin-block-start: 6.25rem;
  margin-block-end: 6.25rem;
}

.header__logo {
  font-size: var(--font-size-h1);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6692rem + 0.878vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card__title {
  padding: 4px 10px;
  border-bottom: 2px solid var(--contour-color);
}

.card__title h2 {
  font-size: 18px;
  font-variation-settings: "wght" var(--head-wght);
}

.card__image {
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--contour-color);
}

.card__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.label {
  position: absolute;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 0 var(--color-shadow), -1px 0 0 var(--color-shadow),
    0 1px 0 var(--color-shadow), 0 -1px 0 var(--color-shadow),
    1px 1px 0 var(--color-shadow), -1px -1px 0 var(--color-shadow),
    1px -1px 0 var(--color-shadow), -1px 1px 0 var(--color-shadow);
}

@supports (text-stroke: 1px var(--color-shadow)) or
  (-webkit-text-stroke: 1px var(--color-shadow)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-shadow);
    text-stroke: 1px var(--color-shadow);
  }
}
.blur {
  filter: blur(3px);
}

.hard-light {
  mix-blend-mode: hard-light;
}

.saturate {
  filter: saturate(30%);
}

.sepia {
  filter: sepia(50%);
}

.old {
  filter: sepia(1) contrast(1.2);
}

.hue {
  filter: hue-rotate(160deg);
}

.filter-multiple {
  filter: grayscale(80%) contrast(120%);
}

.brightness {
  filter: brightness(50%);
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.card__description p {
  font-size: 18px;
  padding-bottom: 24px;
  line-height: 1.1;
}

.buttons {
  align-self: flex-end;
  display: flex;
  gap: 4px;
  align-items: center;
  border: none;
  background: transparent;
  text-transform: capitalize;
}

.card__like-button {
  width: 130px;
  min-height: 40px;
  background: transparent;
}

.card__icon-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  width: 130px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill linear 0.1s var(--contour-color);
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.main-body {
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body,
.like-icon:hover .core,
.like-icon:hover .contour {
  fill: var(--contour-color);
}

.like-icon:hover .main-body {
  transition: 0.3s linear 0.05s;
}

.like-icon:hover .core {
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body,
.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  transition: 0.3s linear 0.05s;
}

.like-icon:active .core {
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1 normal forwards;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1 normal forwards;
}

.save {
  display: flex;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 100px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  gap: 8px;
  border: 2px solid var(--contour-color);
  background-color: var(--color-shadow);
  position: relative;
}

.btn span {
  color: var(--color-shadow);
  mix-blend-mode: difference;
  z-index: 2;
}

.btn svg {
  fill: var(--contour-color);
  stroke: var(--color-shadow);
  mix-blend-mode: difference;
  z-index: 2;
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--contour-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.btn:hover::after {
  transform: scaleX(1);
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 2px 2px 0 var(--contour-color);
  transition: box-shadow 0.3s ease;
}

.save__btn {
  width: 335px;
  min-height: 55px;
  gap: 8px;
}

.save__btn-icon {
  width: 21px;
  height: 21px;
}

@media (width <= 375px) {
  .header {
    padding: 122px 16px;
    text-align: center;
  }
  .footer__btn {
    display: flex;
    flex-direction: column;
    min-height: 84px;
  }
  .footer__btn-icon {
    width: 28px;
    height: 28px;
  }
}

dialog[open] {
  position: fixed;
  gap: 10px;
  top: 30%;
  width: 353px;
  height: 195px;
  font-family: var(--accent-font), sans-serif;
  padding: 25px;
  margin: 0 auto;
}

.modal__item {
  display: grid;
  grid-template-columns: 39px 220px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 14px;
}

.modal__item-btn {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}
dialog {
  transition: opacity 0.7s ease-in-out;
}
